.project-time-line-card-img {
  width: 100%;
  margin-bottom: 1.5rem;
}

.project-name-duration-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1.5rem;
  font-family: 'Roboto';
}

.project-name {
  color: #171f46;
  font-size: 1.5rem;
  font-weight: 600;
}

.project-duration-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #171f46;
}

.project-duration-calendar-icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.project-duration {
  font-size: 1rem;
  font-weight: 550;
}

.project-description {
  color: #1e293b;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  font-family: 'Roboto';
}

.project-link {
  color: #0967d2;
  font-size: 1.3rem;
  font-weight: 550;
  text-decoration: none;
  outline: none;
  background: inherit;
}

@media (min-width: 768px) {
  .project-name-duration-container {
    flex-direction: row;
    align-items: center;
  }
}
