.course-time-line-card-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
  font-family: 'Roboto';
}

.course-title {
  color: #171f46;
  font-size: 1.5rem;
  font-weight: 600;
}

.course-duration-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #171f46;
}

.course-duration-clock-icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.course-duration {
  font-size: 1rem;
  font-weight: 550;
}

.course-description {
  color: #1e293b;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  font-family: 'Roboto';
}

.course-tag-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Roboto';
}

.course-tag {
  color: #1e293b;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  font-weight: 550;
  background-color: #f8f8ff;
}

@media (min-width: 768px) {
}
